/* Variables */
:root {
	--textSize: 1rem;
	--yellow: #f5972c;
	--orange: #f3542a;
	--purple: #7049f0;
	--blue: #0aa4f5;
	--green: #c6d947;
	--black: #31291d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans-serif;
	height: 100vh;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

.app {
	display: grid;
	grid-template-columns: minmax(90px, 100px) 1fr;
	height: 100%;
}

main {
	padding: 1rem 2rem;
	display: grid;
	gap: 2rem;
	grid-template-rows: auto auto 1fr;
}

nav {
	display: flex;
	align-items: center;
}

form.search {
	color: #686b72;
	display: flex;
	align-items: center;
	width: 75%;
}

form.search input {
	flex: 1;
	border: none;
	background-color: transparent;
	color: #686b72;
	outline: none;
	font-size: 1rem;
	padding: 1rem;
}

form.search input::placeholder {
	color: #a2a7b6;
}

main h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.account {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.account .avatar-container {
	max-height: 2.5em;
	max-width: 2.5em;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1rem;
}

.account .avatar-container img {
	height: 100%;
	width: 100%;
}
