.aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	border-right: 1px solid rgb(199, 199, 199);
	padding: 1rem;
	background-color: #f1f3f8;
	border: 0px;
	box-shadow: 0px 0px 40px 0px rgba(1, 0, 4, 0.36);
}

.asidedark{
	display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		border-right: 1px solid rgb(199, 199, 199);
		padding: 1rem;
		background-color:#191f3a;
		border: 0px;
		box-shadow: 0px 0px 40px 0px rgba(1, 0, 4, 0.36);
}




.aside h2 {
	font-size: var(--textSize);
	font-weight: 500;
}
